.music-lrc {
    width: 100%;
    height: 100%;
    flex: 1;
    overflow: hidden;
    background: -webkit-radial-gradient(50% 50%, closest-corner, #242424 0%, #090909 100% );
    li {
        text-align: center;
        font-size: 16px;
        padding: 10px 0;
        letter-spacing: 5px;
        font-family: '隶书';
        font-weight: bold;
        color: rgba(255, 255, 255, 0.5);
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }
    .cur {
        color: #fff;
    }
  }
