::-webkit-scrollbar {
    width: 0px;
    height: 5px;
    background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: rgba(74, 168, 0, 0.6);
}
// 侧边栏菜单样式
.el-menu {
    border-right: none;
    background: none;
}
.el-submenu {
    .el-menu--inline {
        .el-menu-item {
            padding: 0px !important;
            color: #83c7e3;
        }
    }
}
.el-menu > .el-menu-item,
.el-submenu__title {
    padding: 0 !important;
    color: #83c7e3;
}
.el-submenu__title i {
    color: #83c7e3;
}
.el-menu-item:focus,
.el-menu-item:hover,
.el-submenu__title:hover {
    background-color: #07417a;
}
.el-submenu__icon-arrow {
    z-index: 9999;
}
// input框样式
.el-input__inner {
    border-width: 0;
    background: #8b5c7e;
    color: #fff;
}
.el-input__prefix {
    left: 0px;
}
.el-dropdown {
    width: 100%;
}
.el-input-group__append {
    background-color: #8b5c7e;
    padding: 0 10px 0 0;
    border: none;
}